@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');
 
 
 @tailwind base;
 @tailwind components;
 @tailwind utilities;



body{
background-color: #efebff;
overflow-x: hidden;
}

.marquee-wrapper{
    display: flex;
    overflow: hidden;
    gap: 1rem;
    position: relative;
    user-select: none;
    width: 1200px;
    margin: auto;
    box-shadow: -4px 0px 0px rgba(93, 49, 255, 0.6), 5px 0px 1px rgba(93, 49, 255, 0.6);
    border-radius: 20px;
    padding: 6px;
}

.marquee-content{
    flex-shrink: 0;
    display: flex;
    justify-content: space-around;
    min-width: 100%;
    /* gap: 1rem; */
}

.scroll{
    animation: scroll 10s linear infinite;
}

@keyframes scroll{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(calc(-100% - 1rem));
    }
}

.box-1{
    width: 489px;
    height: 634px;
    border: 1px solid #000000;
    border-radius: 10px;
}

.box-2{
    width: 489px;
    height: 242px;
    border: 1px solid #000000;
    border-radius: 10px;
}


.box-3{
    width: 489px;
    height: 332px;
    border: 1px solid #000000;
    border-radius: 10px;
}


.parallax-effect{
    width: 489px;
    height: 634px;
    border: 1px solid #000000;
    border-radius: 10px;
    background: #efebff;
    margin-right: 30px;
}

.inner-element {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    font-style: italic;
    color: white;
    transform: translateZ(60px);
  }


