

.parallax-effect-glare-scale {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 450px;
  height: 634px;
  border: 1px solid #cccccc;
  background: #efebff;
  border-radius: 15px;
  margin-right: 25px;
  // box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.25);
  transform-style: preserve-3d;

  .inner-element {
    transform: translateZ(60px);
  }
}


.parallax-effect-glare-scale-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 489px;
    height: 268px;
    border: 1px solid #cccccc;
    border-radius: 15px;
    margin-right: 80px;
    // box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
    transform-style: preserve-3d;
  
    .inner-element-2 {
      transform: translateZ(60px);
    }
  }


  .parallax-effect-glare-scale-3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 489px;
    height: 332px;
    border: 1px solid #cccccc;
    border-radius: 15px;
    margin-top: 30px;
    // box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
    transform-style: preserve-3d;
  
    .inner-element-3 {
      transform: translateZ(60px);
    }
  }