

.parallax-effect-glare-scale {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 450px;
  height: 634px;
  border: 1px solid #cccccc;
  background: #efebff;
  border-radius: 15px;
  margin-right: 25px;
  // box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.25);
  transform-style: preserve-3d;

  .inner-element {
    transform: translateZ(60px);
  }
}


.parallax-effect-glare-scale-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 489px;
    height: 268px;
    border: 1px solid #cccccc;
    border-radius: 15px;
    margin-right: 80px;
    // box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
    transform-style: preserve-3d;
  
    .inner-element-2 {
      transform: translateZ(60px);
    }
  }


  .parallax-effect-glare-scale-3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 489px;
    height: 332px;
    border: 1px solid #cccccc;
    border-radius: 15px;
    margin-top: 30px;
    // box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
    transform-style: preserve-3d;
  
    .inner-element-3 {
      transform: translateZ(60px);
    }

    // transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

  // .tabs{
  //   display: flex;
  //   flex-direction: column;
  //   align-items: center;
  //   justify-content: center;
  //   width: 60%;
  // }

  .tabList{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 500px;
    justify-content: space-between;
    margin: auto;
    margin-top: 50px;
    border: 1px solid #525252;
    padding: 10px 45px;
    border-radius: 100px;
    position: relative;
  }

  .tabList .tab{
    position: absolute;
    height: 100%;
    width: 32%;
    left: 0%;
    bottom: 0;
    background: rgba(93, 49, 255, 0.1);
    border-radius: 100px;
    z-index: -100;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }


 

  .tabList input{
    display: none;
  }


  #investors:checked ~ .tab{
    left: 37%;
  }

  #other:checked ~ .tab{
    left: 68%;
  }
  
  
 


  
